/* basic screen css for js scheme interpreter */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #06121D;
    color: #E8D6C9;
    font-family: "Andale Mono", Consolas, Courier, fixed;
    font-size: 95.01%;
    height: 100%;
    padding: 0 1em;
    line-height: 140%;
}

#content {
    height: 95%;
    width: 100%;
}

#repl {
    float: left;
    height: 80%;
    width: 50%;
}

#buffer-frame {
    float: left;
    width: 50%;
    height: 80%;
}

#buffer-inner-frame {
    overflow-y: auto;
}
#buffer-frame #buffer-intro {
    color: #4D5F6F;
}
#buffer-frame #line-numbers, #buffer-frame #buffer {
    float: left;
}

#buffer-frame #line-numbers {
    float: left;
    color: #4D5F6F;
    width: 5%;
    text-align: right;
    margin-right: 1%;
}

#buffer-frame #buffer {
    height: 100%;
    width: 94%;
    white-space: nowrap;
}

.prompt {
    clear: both;
    float: left;
}

.output {
    clear: both;
    float: left;
}

.input {
    xbackground-color: #0A1824;
    float: left;
    width: 95%;
    outline:none;
}

.input:focus {
    background-color: #0D1F2F;
}
    
